<div class="text-center page-header">
  <h1>Notes App</h1>
  <h2>Here's a place where you can add/edit your notes.</h2>
</div>

<div class="notes-app" (editNoteHandler)="editNote($event)">
  <notes-editor
    (createNoteHandler)="createNote($event)"
    (updateNoteHandler)="updateNote($event)"
    [selectedNote]="selectedNote">
  </notes-editor>

  <notes-grid
    #notesGrid
    [notes]="notes"
    (deleteNoteHandler)="deleteNote($event)"
    (editNoteHandler)="editNote($event)">
  </notes-grid>
</div>

