<div class="notes-editor">
    <div class="notes-editor-settings">
      <button class="btn btn-default glyphicon glyphicon-bold notes-editor-btn" type="button"></button>
      <button class="btn btn-default glyphicon glyphicon-italic" type="button"></button>
      <button class="btn btn-default glyphicon glyphicon-italic" type="button"></button>
    </div>
    <textarea name="note"
              placeholder="Enter your note here..."
              rows="5"
              #textarea
              class="textarea"></textarea>
    <button class="add-button" (click)="createNote(textarea.value)">Add</button>
</div>
